Repository Ngulliinsights/Chanuka: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, unit-tests, architecture-check, coverage-check

type-check:
  name: TypeScript Type Check
  entry: npm run type-check
  language: system
  pass_filenames: false

unit-tests:
  name: Run Unit Tests
  entry: npm test -- --testPathPattern="(analytics|cache|db-helpers|controller-wrapper)" --passWithNoTests
  language: system
  pass_filenames: false
  stages:
  - commit

architecture-check:
  name: Architecture Boundary Check
  entry: node scripts/check-architecture.js
  language: system
  pass_filenames: false

coverage-check:
  name: Test Coverage Check
  entry: npm run test:coverage -- --testPathPattern=analytics --coverageThreshold='{"global":{"statements":80,"branches":70,"functions":80,"lines":80}}'
  language: system
  pass_filenames: false

docs: restore MIGRATION_LOG.md - critical migration tracking
  docs/technical/MIGRATION_LOG.md
Due: none

fix: critical security issues - CORS, passwords, SQL injection
  docs/SECURITY_AUDIT_CRITICAL_FIXES.md
  server/features/security/application/services/secure-query-builder.service.ts
  server/infrastructure/database/graph/config/graph-config.ts
  server/infrastructure/database/graph/utils/test-harness.ts
  server/scripts/test-websocket-migration.ts
Due: type-check, unit-tests

fix: XSS vulnerability in ML test server - use textContent instead of innerHTML
  server/features/ml/testing/test-server.ts
Due: type-check, unit-tests

feat: implement MWANGA Stack ML infrastructure with production-ready caching
  .env.example
  client/public/sw.js
  docs/PORT_CONFIGURATION.md
  docs/SYSTEMS_ENGINEERING_READINESS.md
  docs/architecture/ML_AI_ARCHITECTURE.md
  docs/fixes/INFRASTRUCTURE_FIXES_COMPLETED.md
  docs/fixes/PORT_AND_CSP_FIXES.md
  docs/operations/BACKUP_RECOVERY.md
  server/config/index.ts
  server/features/ml/IMPLEMENTATION_COMPARISON.md
  server/features/ml/SETUP.md
  server/features/ml/config/mwanga-config.ts
  server/features/ml/models/OLD_VS_NEW_COMPARISON.md
  server/features/ml/models/README.md
  server/features/ml/models/base-analyzer.ts
  server/features/ml/models/bill-summarizer.ts
  server/features/ml/models/conflict-detector.ts
  server/features/ml/models/constitutional-analyzer.ts
  server/features/ml/models/content-classifier.ts
  server/features/ml/models/electoral-accountability-analyzer.ts
  server/features/ml/models/engagement-predictor.ts
  server/features/ml/models/example-usage.ts
  server/features/ml/models/influence-network-analyzer.ts
  server/features/ml/models/sentiment-analyzer.ts
  server/features/ml/models/transparency-analyzer.ts
  server/features/ml/models/trojan-bill-detector.ts
  server/features/ml/models/types.ts
  server/infrastructure/cache/adapters/redis-adapter.ts
  server/infrastructure/database/migrations/20260306_mwanga_stack_schema.sql
  server/infrastructure/schema/ML_SCHEMA_INTEGRATION.md
  server/infrastructure/schema/ml_intelligence.ts
  server/middleware/api-versioning.ts
  server/vite.ts
Due: type-check, unit-tests

refactor: update ML and cache infrastructure exports
  server/features/ml/index.ts
  server/features/ml/models/bill-summarizer.ts
  server/features/ml/models/content-classifier.ts
  server/features/ml/models/engagement-predictor.ts
  server/features/ml/models/index.ts
  server/infrastructure/cache/adapters/index.ts
  server/infrastructure/cache/factory.ts
  server/infrastructure/schema/index.ts
Due: type-check, unit-tests

fix: correct type imports in constitutional-intelligence service
  server/features/constitutional-intelligence/application/constitutional-service.ts
Due: type-check, unit-tests

feat(ml): complete MWANGA Stack database migration with 13 tables
  scripts/database/fix-migration-comprehensive.py
  scripts/database/fix-trailing-commas.py
  scripts/database/run-mwanga-migration.ts
  server/infrastructure/database/migrations/20260306_mwanga_stack_schema.sql
  server/infrastructure/schema/ml_intelligence.ts
Due: type-check, unit-tests

docs(ml): add MWANGA Stack migration completion report
  server/features/ml/MIGRATION_COMPLETE.md
Due: none

refactor(ml): remove old ML model implementations
  server/features/ml/models/influence-mapper.ts
  server/features/ml/models/ml_models_readme.md
  server/features/ml/models/ml_usage_example.ts
  server/features/ml/models/real-time-classifier.ts
  server/features/ml/models/shared_utils.ts
  server/features/ml/models/transparency-scorer.ts
  server/features/ml/models/type-guards.ts
Due: type-check, unit-tests

chore(ml): add migration syntax fix helper script
  scripts/database/fix-migration-syntax.ts
Due: type-check, unit-tests

docs(ml): add comprehensive MWANGA Stack deployment summary
  docs/chanuka/ml/MWANGA_STACK_DEPLOYMENT_SUMMARY.md
Due: none

fix(server): resolve startup initialization race conditions
  .kiro/specs/server-startup-fix/.config.kiro
  .kiro/specs/server-startup-fix/AUDIT_AND_SOLUTIONS.md
  .kiro/specs/server-startup-fix/CIRCULAR_DEPENDENCY_FIX.md
  .kiro/specs/server-startup-fix/README.md
  .kiro/specs/server-startup-fix/SOLUTION_COMPARISON.md
  .kiro/specs/server-startup-fix/STATUS.md
  .kiro/specs/server-startup-fix/STEP_BY_STEP_FIX.md
  .kiro/specs/server-startup-fix/VISUAL_GUIDE.md
  .kiro/specs/server-startup-fix/bugfix.md
  server/BUGS_FIXED.md
  server/QUICK_START.md
  server/STARTUP_FIXES.md
  server/features/bills/application/bill-service-adapter.ts
  server/features/bills/application/bill-service.ts
  server/features/bills/legislative-storage.ts
  server/features/bills/real-time-tracking.ts
  server/features/bills/sponsorship.routes.ts
  server/features/bills/voting-pattern-analysis-router.ts
  server/features/security/infrastructure/services/security-audit.service.ts
  server/infrastructure/observability/http/response-wrapper.ts
  server/infrastructure/schema/ml_intelligence.ts
  server/package.json
  server/tsconfig.json
  server/utils/port-manager.ts
  server/utils/preflight-check.ts
Due: type-check, unit-tests

feat: add bill comparison feature with metadata, text diff, and selector components
  client/src/app/shell/AppRouter.tsx
  client/src/features/analysis/index.ts
  client/src/features/analysis/model/hooks/index.ts
  client/src/features/analysis/model/hooks/useAnalysisHistory.ts
  client/src/features/analysis/model/hooks/useComprehensiveAnalysis.ts
  client/src/features/analysis/model/hooks/useTriggerAnalysis.ts
  client/src/features/analysis/model/services/analysis-api.service.ts
  client/src/features/analysis/model/services/index.ts
  client/src/features/analysis/pages/analysis-tools.tsx
  client/src/features/bills/hooks/useBillComparison.ts
  client/src/features/bills/pages/BillComparisonPage.tsx
  client/src/features/bills/ui/analysis/ComprehensiveAnalysisPanel.tsx
  client/src/features/bills/ui/comparison/BillSelector.tsx
  client/src/features/bills/ui/comparison/MetadataComparison.tsx
  client/src/features/bills/ui/comparison/TextDiff.tsx
  docs/DCS/ANALYSIS_ROUTES_STATUS.md
  docs/DCS/STRATEGIC_PATH_FORWARD.md
  docs/adr/008-natural-branching-architecture.md
  docs/adr/009-bills-feature-server-implementation.md
  docs/adr/012-analysis-feature-client-implementation.md
  docs/features/ANALYSIS_FEATURE_CLIENT_IMPLEMENTATION.md
  docs/project-structure.md
  docs/technical/MIGRATION_LOG.md
  server/features/analysis/ENDPOINT_TESTING.md
  shared/types/features/analysis.ts
  shared/types/index.ts
Due: type-check, unit-tests

docs: consolidate root documentation sprawl into ADR-020
  .agent/specs/bill-comparison-integration/IMPLEMENTATION_TASKS.md
  .agent/specs/bill-comparison-integration/QUICK_START.md
  .agent/specs/bill-comparison-integration/README.md
  .agent/specs/bill-comparison-integration/USER_JOURNEY_MAP.md
  client/src/features/bills/hooks/useComparisonCart.ts
  client/src/features/bills/pages/BillComparisonPage.tsx
  client/src/features/bills/pages/BillsPortalPage.tsx
  client/src/features/bills/pages/bill-detail.tsx
  client/src/features/bills/ui/comparison/ComparisonFloatingBar.tsx
  client/src/features/bills/ui/comparison/ComparisonModal.tsx
  client/src/features/bills/ui/comparison/index.ts
  client/src/features/bills/ui/detail/BillHeader.tsx
  client/src/features/bills/ui/list/BillCard.tsx
  client/src/features/recommendation/ui/RecommendationWidget.tsx
  client/src/features/recommendation/ui/SimilarBillsWidget.tsx
  docs/DESIGN_DECISIONS_EXTRACTED.md
  docs/adr/ADR-020-root-documentation-consolidation.md
  docs/archive/root-cleanup-2026-03-09/ALL_REACT_ERRORS_FIXED.md
  docs/archive/root-cleanup-2026-03-09/BROWSER_CACHE_FIX.md
  docs/archive/root-cleanup-2026-03-09/CLEAR_BROWSER_CACHE_NOW.md
  docs/archive/root-cleanup-2026-03-09/CLIENT_API_FIXES_COMPLETE_2026-03-09.md
  docs/archive/root-cleanup-2026-03-09/CLIENT_CONNECTION_FIX.md
  docs/archive/root-cleanup-2026-03-09/DEMO_QUICK_REFERENCE.md
  docs/archive/root-cleanup-2026-03-09/DUPLICATE_REACT_IMPORT_FIXED.md
  docs/archive/root-cleanup-2026-03-09/README.md
  docs/archive/root-cleanup-2026-03-09/README_FIXES.md
  docs/archive/root-cleanup-2026-03-09/RESTART_INSTRUCTIONS.md
  docs/archive/root-cleanup-2026-03-09/SERVER_FIXES_COMPLETE_2026-03-09.md
  docs/archive/root-cleanup-2026-03-09/SERVER_STARTUP_SOLUTION.md
Due: type-check, unit-tests

docs: add extraction summary for root cleanup
  docs/DESIGN_DECISIONS_EXTRACTED.md
Due: none

docs: integrate ADR and DCS with cross-references
  DOCUMENTATION_INDEX.md
  docs/DCS/ARCHITECTURE.md
  docs/DCS/INDEX.md
  docs/DOCUMENTATION_NAVIGATION.md
  docs/adr/README.md
Due: none

refactor: replace Zustand with Redux for comparison cart
  client/src/features/bills/hooks/useComparisonCart.ts
  client/src/features/bills/store/comparisonCartSlice.ts
  client/src/infrastructure/store/index.ts
  package.json
  pnpm-lock.yaml
Due: type-check, unit-tests

fix: add optional chaining for comparisonCart state access
  client/src/features/bills/hooks/useComparisonCart.ts
Due: type-check, unit-tests

fix: use any type cast for redux-persist compatibility
  client/src/features/bills/hooks/useComparisonCart.ts
Due: type-check, unit-tests

fix: remove unused RootState import
  client/src/features/bills/hooks/useComparisonCart.ts
Due: type-check, unit-tests

refactor: remove all Zustand references and uninstall package
  .agent/specs/bill-comparison-integration/QUICK_START.md
  client/src/features/community/hooks/useCommunityIntegration.ts
  client/src/features/users/hooks/useUserAPI.ts
  client/src/infrastructure/auth/hooks/use-auth.tsx
  client/src/infrastructure/store/slices/realTimeSlice.ts
  package.json
  pnpm-lock.yaml
Due: type-check, unit-tests

fix: use type assertions instead of instanceof for timestamp handling
  client/src/infrastructure/store/slices/realTimeSlice.ts
Due: type-check, unit-tests

fix: resolve TypeScript errors in use-auth hook
  client/src/infrastructure/auth/hooks/use-auth.tsx
Due: type-check

fix: resolve TypeScript errors in government data routes
  server/features/government-data/presentation/government-data.routes.ts
  server/features/government-data/presentation/routes.ts
Due: type-check, unit-tests

feat: modernize analytics and community features with shared contracts
  .encryption-keys.json
  .kiro/specs/infrastructure-modernization/archive/MODERNIZATION_QUEUE.md
  client/src/features/analytics/services/analytics-api.service.ts
  client/src/features/api-services.ts
  client/src/features/community/hooks/useCommunity.ts
  client/src/features/community/services/community-api.service.ts
  client/src/features/government-data/hooks/useGovernmentData.ts
  client/src/features/government-data/services/government-data-api.service.ts
  docs/project-structure.md
  docs/technical/MODERNIZATION_GUIDE.md
  package.json
  pnpm-lock.yaml
  server/features/analytics/MODERNIZATION_COMPLETE_NEW.md
  server/features/analytics/application/analytics.service.ts
  server/features/analytics/index.ts
  server/features/analytics/presentation/analytics.routes.ts
  server/features/community/application/community.service.ts
  server/features/community/presentation/community.routes.ts
  server/index.ts
  server/middleware/auth.ts
  server/middleware/index.ts
  shared/core/api/base-api-service.ts
  shared/types/api/contracts/analytics.contracts.ts
  shared/types/api/contracts/community.contracts.ts
  shared/types/api/contracts/core.contracts.ts
  shared/types/api/contracts/government-data.contracts.ts
  shared/types/api/contracts/index.ts
  tests/integration/modernized-features.integration.test.ts
  tests/integration/vitest.config.ts
Due: type-check, unit-tests, architecture-check, coverage-check

fix: resolve TypeScript errors in community routes
  server/features/community/presentation/community.routes.ts
Due: type-check, unit-tests

fix: resolve TypeScript errors in electoral accountability auth middleware
  server/features/electoral-accountability/application/electoral-accountability-auth.middleware.ts
Due: type-check, unit-tests

refactor(server): modernize constitutional features and barrel exports
  server/features/admin/admin-router.ts
  server/features/admin/application/admin.routes.ts
  server/features/admin/application/services/moderation-service.ts
  server/features/admin/application/system.routes.ts
  server/features/admin/domain/moderation-service.ts
  server/features/admin/index.ts
  server/features/admin/moderation/moderation-analytics.service.ts
  server/features/admin/moderation/moderation-decision.service.ts
  server/features/admin/moderation/moderation-queue.service.ts
  server/features/constitutional-analysis/application/constitutional-analysis-service.ts
  server/features/constitutional-analysis/application/constitutional-analyzer.ts
  server/features/constitutional-analysis/application/provision-matcher.ts
  server/features/constitutional-intelligence/application/constitutional-intelligence-service.ts
  server/features/constitutional-intelligence/application/constitutional-service.ts
  server/features/constitutional-intelligence/application/enhanced-constitutional-intelligence-service.ts
  server/features/constitutional-intelligence/index.ts
  server/features/index.ts
  server/features/market/index.ts
  server/features/market/market.controller.ts
  server/features/market/market.service.ts
  server/features/market/market.validation.ts
  server/features/market/routes.ts
  server/features/market/types.ts
  server/features/privacy/application/privacy-scheduler.ts
  server/features/privacy/application/privacy-validation.schemas.ts
  server/features/privacy/application/privacy.routes.ts
  server/features/privacy/domain/privacy-service.ts
  server/features/privacy/index.ts
  server/features/safeguards/infrastructure/safeguard-jobs.ts
  server/features/security/__tests__/secure-query-builder.test.ts
  server/features/security/application/services/__tests__/secure-query-builder.test.ts
  server/features/security/application/services/cib-detection-service.ts
  server/features/security/application/services/privacy-service.ts
  server/features/security/application/services/rate-limit-service.ts
  server/features/security/index.ts
  server/features/security/infrastructure/services/data-privacy.service.ts
  server/features/security/security-middleware.ts
  server/features/security/security-monitoring.ts
Due: type-check, unit-tests

docs: create ADR-021 (query pipeline usage guide) and update REPOSITORY_PATTERN.md v2.0
  docs/adr/ADR-021-query-pipeline-usage-guide.md
  docs/features/REPOSITORY_PATTERN.md
  server/features/government-data/application/government-data.service.ts
Due: type-check, unit-tests

refactor(community,analytics,argument-intelligence): consolidate Enhanced services
  server/__tests__/infrastructure-integration-phase2.test.ts
  server/__tests__/mvp-critical-features.test.ts
  server/features/analytics/application/enhanced-analytics-service.ts
  server/features/argument-intelligence/application/enhanced-argument-intelligence-service.ts
  server/features/community/__tests__/enhanced-community-service.integration.test.ts
  server/features/community/application/community-service.ts
  server/features/community/index.ts
Due: type-check, unit-tests, architecture-check, coverage-check

refactor: cross-cutting pattern adherence — console.log to pino logger
  server/features/ml/services/analysis-pipeline.ts
  server/features/ml/services/ml-integration.ts
  server/features/ml/services/ml-orchestrator.ts
  server/features/ml/services/ollama-client.ts
  server/features/ml/services/python-service-client.ts
  server/features/notifications/application/services/alerting-service.ts
  server/features/sponsors/accountability/ledger.service.ts
Due: type-check, unit-tests

Path conditions:
  type-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js$|
  .*/node_modules/|
  .*/dist/|
  .*/build/|
  .*\.d\.ts$
)$
  unit-tests: any of: \.(ts|js)$, but not: (?x)^(
  .*\.min\.js$|
  .*/node_modules/|
  .*/dist/|
  .*/build/|
  .*\.d\.ts$
)$
  architecture-check: any of: server/features/analytics/.*, but not: (?x)^(
  .*\.min\.js$|
  .*/node_modules/|
  .*/dist/|
  .*/build/|
  .*\.d\.ts$
)$
  coverage-check: any of: server/features/analytics/.*, but not: (?x)^(
  .*\.min\.js$|
  .*/node_modules/|
  .*/dist/|
  .*/build/|
  .*\.d\.ts$
)$
