Repository Ngulliinsights/Chanuka: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, unit-tests, architecture-check, coverage-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for analytics module
# Install with: pip install pre-commit && pre-commit install

repos:
  # TypeScript and JavaScript hooks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.57.0
    hooks:
      - id: eslint
        files: \.(js|ts)$
        types: [file]
        additional_dependencies:
          - eslint@^8.0.0
          - '@typescript-eslint/parser'
          - '@typescript-eslint/eslint-plugin'
        args: [--config, .eslintrc.js]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(js|ts|json|md)$
        exclude: package-lock.json

  # TypeScript type checking
  - repo: local
    hooks:
      - id: type-check
        name: TypeScript Type Check
        entry: npm run type-check
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Unit tests
  - repo: local
    hooks:
      - id: unit-tests
        name: Run Unit Tests
        entry: npm test -- --testPathPattern="(analytics|cache|db-helpers|controller-wrapper)" --passWithNoTests
        language: system
        files: \.(ts|js)$
        pass_filenames: false
        stages: [commit]

  # Analytics-specific checks
  - repo: local
    hooks:
      - id: architecture-check
        name: Architecture Boundary Check
        entry: node scripts/check-architecture.js
        language: system
        files: server/features/analytics/.*
        pass_filenames: false

  - repo: local
    hooks:
      - id: coverage-check
        name: Test Coverage Check
        entry: npm run test:coverage -- --testPathPattern=analytics --coverageThreshold='{"global":{"statements":80,"branches":70,"functions":80,"lines":80}}'
        language: system
        files: server/features/analytics/.*
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Commit message checks
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.1.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, test, chore]

# Configuration for different file types
exclude: |
  (?x)^(
    .*\.min\.js$|
    .*/node_modules/|
    .*/dist/|
    .*/build/|
    .*\.d\.ts$
  )$

Fix: Remove 'as any' type casts from trojan_bill_detection.ts relations
  shared/schema/trojan_bill_detection.ts
Due: type-check, unit-tests

Fix: Refactor imports, add pagination and error handling across various query files
  shared/database/graph/app-init.ts
  shared/database/graph/config/index.ts
  shared/database/graph/index.ts
  shared/database/graph/query/advanced-queries.ts
  shared/database/graph/query/engagement-queries.ts
  shared/database/graph/query/network-queries.ts
  shared/database/graph/utils/index.ts
  shared/schema/analysis.ts
  shared/schema/base-types.ts
  shared/schema/citizen_participation.ts
  shared/schema/domains/safeguards.ts
  shared/schema/enum-validator.ts
Due: type-check, unit-tests

Fix: Resolve 7 linting errors in sync-triggers.ts
  shared/schema/sync-triggers.ts
Due: type-check, unit-tests

Phases 2-4: Complete conflict analysis - middleware verified, error handling architecture sound, config audit complete
  CONFLICT_RESOLUTION_PROJECT_COMPLETE.md
  PHASE_2_MIDDLEWARE_ASSESSMENT_COMPLETE.md
  PHASE_3_ERROR_HANDLING_VERIFICATION_COMPLETE.md
  PHASE_4_CONFIG_AUDIT_COMPLETE.md
Due: none

docs: add executive summary for conflict resolution project
  README_CONFLICT_RESOLUTION.md
Due: none

feat(docs): establish central migration log and update contributing guidelines
  CONTRIBUTING.md
  docs/MIGRATION_LOG.md
Due: none

refactor(docs): organize active implementation plans
  docs/plans/monitoring-fsd-restructure.md
Due: none

refactor(types): sustainable fixes for navigation and community types
  @types/global/declarations.d.ts
  @types/global/index.ts
  @types/global/shims.d.ts
  @types/index.ts
  @types/server/api-response.d.ts
  @types/server/features.d.ts
  @types/server/index.ts
  @types/server/middleware.d.ts
  @types/server/services.d.ts
  @types/shared/core.d.ts
  @types/shared/database.d.ts
  @types/shared/design-system.d.ts
  @types/shared/errors.d.ts
  @types/shared/index.ts
  @types/shared/ui.d.ts
  client/src/core/community/types.ts
  client/src/core/navigation/index.ts
  client/src/core/navigation/navigation-wrapper.ts
  client/src/core/navigation/test-navigation.ts
  client/src/lib/types/navigation.ts
  client/tsc_sample.txt
Due: type-check, unit-tests

feat(shared): create @shared types package for client/server sharing
  client/src/core/api/types/index.ts
  client/src/core/realtime/types/index.ts
  client/src/core/realtime/websocket-client.ts
  client/src/lib/infrastructure/store/middleware/webSocketMiddleware.ts
  client/tsc_all_errors.txt
  client/tsconfig.json
  shared/types/api/index.ts
  shared/types/api/websocket/index.ts
  shared/types/api/websocket/messages.ts
Due: type-check, unit-tests

Fix module resolution: add proxy types files
  client/src/lib/types/index.ts
  client/src/lib/ui/loading/types.ts
  client/src/lib/ui/navigation/types.ts
  client/tsc_2307_errors.txt
Due: type-check, unit-tests

Fix broken re-exports in lib/hooks/index.ts
  client/src/lib/hooks/index.ts
Due: type-check, unit-tests

Add SimpleIcons stub files for missing icon imports
  client/src/core/security/ui/icons/SimpleIcons.tsx
  client/src/features/security/ui/icons/SimpleIcons.tsx
  client/src/features/users/ui/icons/SimpleIcons.tsx
Due: type-check

Align UI with Design System
  client/src/core/security/ui/icons/ChanukaIcons.tsx
  client/src/core/security/ui/icons/SimpleIcons.tsx
  client/src/core/security/ui/privacy/DataUsageReportDashboard.tsx
  client/src/features/security/ui/icons/ChanukaIcons.tsx
  client/src/features/security/ui/icons/SimpleIcons.tsx
  client/src/features/security/ui/privacy/DataUsageReportDashboard.tsx
  client/src/features/users/ui/icons/ChanukaIcons.tsx
  client/src/features/users/ui/verification/ExpertBadge.tsx
  client/src/features/users/ui/verification/ExpertProfileCard.tsx
  client/src/lib/types/index.ts
Due: type-check, unit-tests

feat: Introduce real-time communication, unified error monitoring, core API types, and an analysis page.
  client/src/core/api/types/bill.ts
  client/src/core/api/types/preferences.ts
  client/src/core/realtime/types.ts
  client/src/features/analysis/pages/WorkaroundAnalysisPage.tsx
  client/src/features/analysis/types.ts
  client/src/lib/infrastructure/monitoring/cross-system-error-analytics.ts
  client/src/lib/infrastructure/monitoring/error-aggregation-service.ts
  client/src/lib/infrastructure/monitoring/unified-error-monitoring-interface.ts
  client/ts-errors-latest.txt
  client/ts-errors.txt
Due: type-check, unit-tests

chore: exclude strategic docs and logs from version control
  .gitignore
Due: none

feat(client): Complete Kenyan context integration and fix all broken links
  .kiro/specs/full-stack-integration/.config.kiro
  .kiro/specs/full-stack-integration/design.md
  .kiro/specs/full-stack-integration/requirements.md
  .kiro/specs/full-stack-integration/tasks.md
  client/.archive/README.md
  client/.archive/old-scripts/fix-import-syntax.mjs
  client/.archive/old-scripts/migration-helper.js
  client/.archive/old-scripts/validate-fixes.cjs
  client/.storybook/README.md
  client/.storybook/main.ts
  client/.storybook/preview.ts
  client/CHANUKA_IMPLEMENTATION_PLAN.md
  client/COMPREHENSIVE_AUDIT_KENYAN_CONTEXT.md
  client/LEGAL_PAGES_UPDATE_SUMMARY.md
  client/ORPHANED_COMPONENTS_FIXED.md
  client/PAGES_AUDIT_COMPLETE.md
  client/package.json
  client/src/app/shell/AppRouter.tsx
  client/src/features/analysis/pages/analysis-tools.tsx
  client/src/features/api/pages/api-access.tsx
  client/src/features/civic/pages/civic-education.tsx
  client/src/features/expert/pages/expert-insights.tsx
  client/src/features/legal/pages/about.tsx
  client/src/features/legal/pages/accessibility.tsx
  client/src/features/legal/pages/blog.tsx
  client/src/features/legal/pages/careers.tsx
  client/src/features/legal/pages/contact.tsx
  client/src/features/legal/pages/cookie-policy.tsx
  client/src/features/legal/pages/documentation.tsx
  client/src/features/legal/pages/press.tsx
  client/src/features/legal/pages/privacy.tsx
  client/src/features/legal/pages/support.tsx
  client/src/features/legal/pages/terms.tsx
  client/src/features/sitemap/pages/sitemap.tsx
  client/src/features/status/pages/system-status.tsx
  client/src/lib/design-system/interactive/Button.stories.tsx
  client/src/lib/ui/dashboard/layout/DashboardFooter.tsx
  pnpm-lock.yaml
Due: type-check, unit-tests

refactor: reduce logo size and moderate homepage proportions
  client/src/app/shell/NavigationBar.tsx
  client/src/features/home/pages/CoreHomePage.tsx
  client/src/features/home/pages/EnhancedHomePage.tsx
Due: type-check

fix: correct broken /monitoring route link to /status
  client/src/features/home/pages/EnhancedHomePage.tsx
  docs/ROUTING_EXPLANATION.md
Due: type-check

refactor: reduce logo size and remove dual loading animations
  client/src/app/shell/NavigationBar.tsx
  client/src/lib/ui/loading/BrandedLoadingScreen.tsx
  client/src/lib/ui/loading/LoadingStates.tsx
Due: type-check

feat(transformation): implement critical fixes for transformation pipeline
  .kiro/specs/full-stack-integration/TRANSFORMATION_FIXES_SUMMARY.md
  .kiro/specs/full-stack-integration/TRANSFORMATION_TEST_FINDINGS.md
  shared/types/domains/authentication/user.ts
  shared/utils/transformers/base.ts
  shared/utils/transformers/entities/user.ts
  tests/properties/transformation-pipeline-correctness.property.test.ts
Due: type-check, unit-tests

feat(specs): create bug-fixes-and-gaps spec for remaining issues
  .kiro/specs/bug-fixes-and-gaps/design.md
  .kiro/specs/bug-fixes-and-gaps/requirements.md
  .kiro/specs/bug-fixes-and-gaps/tasks.md
Due: none
