Repository Ngulliinsights/Chanuka: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, unit-tests, architecture-check, coverage-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for analytics module
# Install with: pip install pre-commit && pre-commit install

repos:
  # TypeScript and JavaScript hooks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.57.0
    hooks:
      - id: eslint
        files: \.(js|ts)$
        types: [file]
        additional_dependencies:
          - eslint@^8.0.0
          - '@typescript-eslint/parser'
          - '@typescript-eslint/eslint-plugin'
        args: [--config, .eslintrc.js]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(js|ts|json|md)$
        exclude: package-lock.json

  # TypeScript type checking
  - repo: local
    hooks:
      - id: type-check
        name: TypeScript Type Check
        entry: npm run type-check
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Unit tests
  - repo: local
    hooks:
      - id: unit-tests
        name: Run Unit Tests
        entry: npm test -- --testPathPattern="(analytics|cache|db-helpers|controller-wrapper)" --passWithNoTests
        language: system
        files: \.(ts|js)$
        pass_filenames: false
        stages: [commit]

  # Analytics-specific checks
  - repo: local
    hooks:
      - id: architecture-check
        name: Architecture Boundary Check
        entry: node scripts/check-architecture.js
        language: system
        files: server/features/analytics/.*
        pass_filenames: false

  - repo: local
    hooks:
      - id: coverage-check
        name: Test Coverage Check
        entry: npm run test:coverage -- --testPathPattern=analytics --coverageThreshold='{"global":{"statements":80,"branches":70,"functions":80,"lines":80}}'
        language: system
        files: server/features/analytics/.*
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Commit message checks
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.1.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, test, chore]

# Configuration for different file types
exclude: |
  (?x)^(
    .*\.min\.js$|
    .*/node_modules/|
    .*/dist/|
    .*/build/|
    .*\.d\.ts$
  )$

docs: consolidate infrastructure integration documentation
  .agent/specs/infrastructure-integration/CURRENT_STATUS.md
  .agent/specs/infrastructure-integration/DESIGN_DECISIONS.md
  .agent/specs/infrastructure-integration/IMPLEMENTATION_HISTORY.md
  .agent/specs/infrastructure-integration/README.md
  .agent/specs/infrastructure-integration/TESTING_GUIDE.md
  .agent/specs/infrastructure-integration/VALIDATION_ARCHITECTURE.md
  .agent/specs/infrastructure-integration/archive/completion-reports/BILLS_INTEGRATION_PROGRESS.md
  .agent/specs/infrastructure-integration/archive/guides/EXECUTION_GUIDE.md
  .agent/specs/infrastructure-integration/archive/guides/QUICK_REFERENCE.md
  .agent/specs/infrastructure-integration/archive/guides/QUICK_START.md
  .agent/specs/infrastructure-integration/archive/guides/README_PHASE2_STATUS.md
  .agent/specs/infrastructure-integration/archive/implementation-logs/IMPLEMENTATION_LOG.md
  .agent/specs/infrastructure-integration/archive/implementation-logs/PHASE2_DEPLOYMENT_LOG.md
  .agent/specs/infrastructure-integration/archive/implementation-logs/PHASE2_EXECUTION_LOG.md
  .agent/specs/infrastructure-integration/archive/implementation-logs/PHASE2_IMPLEMENTATION_GUIDE.md
  .agent/specs/infrastructure-integration/archive/implementation-logs/PHASE2_PHASE3_IMPLEMENTATION_GUIDE.md
  .agent/specs/infrastructure-integration/tasks.md
Due: none

docs: add infrastructure integration ADRs
  docs/adr/ADR-012-infrastructure-security-pattern.md
  docs/adr/ADR-013-caching-strategy.md
  docs/adr/ADR-014-error-handling-pattern.md
  docs/adr/README.md
Due: none

docs: add strategic integration ADR and update design decisions
  docs/DESIGN_DECISIONS.md
  docs/adr/ADR-015-intelligent-bill-pipeline.md
  docs/adr/README.md
  docs/project-structure.md
Due: none

docs: update infrastructure modernization tasks
  .kiro/specs/infrastructure-modernization/tasks.md
Due: none

docs: update tasks to reflect completed Phase 2 work
  .kiro/specs/infrastructure-modernization/tasks.md
Due: none

docs: Phase 3 Tier 1 status audit and task updates
  .kiro/specs/infrastructure-modernization/tasks.md
Due: none

refactor: modernize SearchRepository to extend BaseRepository
  server/features/search/infrastructure/SearchRepository.ts
Due: type-check, unit-tests

docs: mark search feature modernization complete
  .kiro/specs/infrastructure-modernization/tasks.md
Due: none

refactor: replace secure query builder with refined implementation
  server/features/security/application/services/__tests__/secure-query-builder.test.ts
  server/features/security/application/services/secure-query-builder.service.ts
  server/features/security/application/services/secure-query-builder.service.v2.ts
Due: type-check, unit-tests

docs: add comprehensive server-client integration documentation
  QUICK_START.md
  docs/INTEGRATION_ARCHITECTURE.md
  docs/INTEGRATION_CHECKLIST.md
  docs/MVP_INTEGRATION_GUIDE.md
  docs/SERVER_CLIENT_INTEGRATION_GUIDE.md
  package.json
  scripts/start-mvp.ps1
  scripts/start-mvp.sh
  scripts/test-mvp-integration.ts
  scripts/validate-integration.ts
Due: type-check, unit-tests

docs: add integration summary with architecture diagram and quick reference
  docs/INTEGRATION_SUMMARY.md
Due: none

chore: clean up empty infrastructure directories and add Phase 2 assessment
  PHASE2_READINESS_ASSESSMENT.md
Due: none

docs: add Phase 3 execution plan and completion analysis
  PHASE3_EXECUTION_PLAN.md
Due: none

feat(phase2): implement government data integration foundation
  STRATEGIC_PHASE2_EXECUTION.md
  server/features/government-data/application/sync-service.ts
  server/infrastructure/external-data/government-api-client.ts
  server/infrastructure/external-data/government-api-config.ts
Due: type-check, unit-tests

docs: consolidate to DCS and remove temporary status documents
  docs/DCS/ARCHITECTURE.md
  docs/DCS/CORE_FEATURES.md
  docs/DCS/DEVELOPMENT_WORKFLOW.md
  docs/DCS/INDEX.md
  docs/DCS/QUICK_REFERENCE.md
  docs/DCS/SECURITY_STATUS.md
  docs/project-structure.md
Due: none

feat: add validation schemas, feature constants, and test infrastructure
  scripts/audit-quality.test.ts
  scripts/audit-quality.ts
  scripts/audit-security.test.ts
  scripts/audit-security.ts
  server/__tests__/mvp-critical-features.test.ts
  shared/constants/features/advocacy.ts
  shared/constants/features/analytics.ts
  shared/constants/features/argument-intelligence.ts
  shared/constants/features/bills.ts
  shared/constants/features/community.ts
  shared/constants/features/notifications.ts
  shared/constants/features/search.ts
  shared/constants/features/sponsors.ts
  shared/constants/features/users.ts
  shared/validation/schemas/advocacy.schema.ts
  shared/validation/schemas/argument-intelligence.schema.ts
  shared/validation/schemas/bill.schema.ts
  shared/validation/schemas/comment.schema.ts
  shared/validation/schemas/community.schema.ts
  shared/validation/schemas/index.ts
  shared/validation/schemas/notifications.schema.ts
  shared/validation/schemas/search.schema.ts
  shared/validation/schemas/sponsors.schema.ts
  shared/validation/schemas/user.schema.ts
  tests/setup/database.ts
  tests/utilities/result-adapter.ts
Due: type-check, unit-tests

fix: resolve TypeScript errors and consolidate websocket types
  client/src/infrastructure/api/__tests__/websocket-client.test.ts
  client/src/infrastructure/api/index.ts
  client/src/infrastructure/api/realtime/client.ts
  client/src/infrastructure/api/types/index.ts
  client/src/infrastructure/api/websocket/client.ts
  client/src/infrastructure/api/websocket/index.ts
  client/src/infrastructure/api/websocket/types.ts
  client/src/infrastructure/store/middleware/webSocketMiddleware.ts
  client/src/infrastructure/store/slices/realTimeSlice.ts
  client/ts_error_final.txt
  client/ts_error_final2.txt
  client/ts_errors.txt
  client/ts_errors2.txt
  client/ts_errors3.txt
  client/ts_errors4.txt
  client/ts_errors5.txt
  client/tsc-errors-2.txt
  client/tsc-errors-3.txt
  client/tsconfig.json
Due: type-check, unit-tests

fix: remove redundant websocket wrapper and fix imports
  client/src/features/community/hooks/useRealtime.ts
  client/src/features/community/hooks/useUnifiedDiscussion.ts
  client/src/features/community/services/websocket-manager.ts
  client/src/infrastructure/community/services/state-sync.service.ts
  docs/project-structure.md
  server/tsconfig.json
Due: type-check, unit-tests

refactor: delete thin features (api, realtime, sitemap, status)
  client/src/app/shell/AppRouter.tsx
  client/src/features/api/pages/api-access.tsx
  client/src/features/realtime/index.ts
  client/src/features/realtime/model/index.ts
  client/src/features/sitemap/pages/sitemap.tsx
  client/src/features/status/pages/system-status.tsx
Due: type-check, unit-tests

Revert "refactor: delete thin features (api, realtime, sitemap, status)"
  client/src/app/shell/AppRouter.tsx
  client/src/features/api/pages/api-access.tsx
  client/src/features/realtime/index.ts
  client/src/features/realtime/model/index.ts
  client/src/features/sitemap/pages/sitemap.tsx
  client/src/features/status/pages/system-status.tsx
Due: type-check, unit-tests

refactor: merge 4 thin features into parent domains
  client/src/app/shell/AppRouter.tsx
  client/src/features/admin/pages/dashboard-validation/config.property.test.ts
  client/src/features/admin/pages/dashboard-validation/config.test.ts
  client/src/features/admin/pages/dashboard-validation/config.ts
  client/src/features/admin/pages/dashboard-validation/index.ts
  client/src/features/admin/pages/dashboard-validation/run-property-tests.ts
  client/src/features/admin/pages/dashboard-validation/verify-config.ts
  client/src/features/admin/pages/dashboard.tsx
  client/src/features/bills/ui/detail/BillSponsorsTab.tsx
  client/src/features/bills/ui/sponsorship/co-sponsors.tsx
  client/src/features/bills/ui/sponsorship/financial-network.tsx
  client/src/features/bills/ui/sponsorship/methodology.tsx
  client/src/features/bills/ui/sponsorship/overview.tsx
  client/src/features/bills/ui/sponsorship/primary-sponsor.tsx
  client/src/features/bills/ui/transparency/ShadowLedgerDashboard.ts
  client/src/features/onboarding/pages/civic-education.tsx
  client/src/lib/utils/safe-lazy-loading.tsx
Due: type-check, unit-tests

refactor: expand thin features and delete realtime delegates
  client/src/features/api/index.ts
  client/src/features/api/services/api-documentation.ts
  client/src/features/api/types/index.ts
  client/src/features/market/index.ts
  client/src/features/market/services/market.ts
  client/src/features/notifications/index.ts
  client/src/features/notifications/services/notifications.ts
  client/src/features/onboarding/index.ts
  client/src/features/onboarding/services/onboarding.ts
  client/src/features/realtime/index.ts
  client/src/features/realtime/model/index.ts
  client/src/features/sitemap/index.ts
  client/src/features/sitemap/services/sitemap.ts
  client/src/features/status/index.ts
  client/src/features/status/services/status.ts
  docs/project-structure.md
Due: type-check, unit-tests

feat: integrate expanded features with hooks and proper structure
  client/src/features/api/hooks/index.ts
  client/src/features/api/hooks/useApiDocumentation.ts
  client/src/features/api/index.ts
  client/src/features/api/model/index.ts
  client/src/features/api/ui/index.ts
  client/src/features/market/hooks/index.ts
  client/src/features/market/hooks/useMarket.ts
  client/src/features/market/index.ts
  client/src/features/market/model/index.ts
  client/src/features/market/types/index.ts
  client/src/features/market/ui/index.ts
  client/src/features/notifications/hooks/index.ts
  client/src/features/notifications/hooks/useNotifications.ts
  client/src/features/notifications/index.ts
  client/src/features/notifications/ui/index.ts
  client/src/features/onboarding/hooks/index.ts
  client/src/features/onboarding/hooks/useOnboarding.ts
  client/src/features/onboarding/index.ts
  client/src/features/onboarding/model/index.ts
  client/src/features/onboarding/ui/index.ts
  client/src/features/sitemap/hooks/index.ts
  client/src/features/sitemap/hooks/useSitemap.ts
  client/src/features/sitemap/index.ts
  client/src/features/sitemap/model/index.ts
  client/src/features/sitemap/types/index.ts
  client/src/features/sitemap/ui/index.ts
  client/src/features/status/hooks/index.ts
  client/src/features/status/hooks/useSystemStatus.ts
  client/src/features/status/index.ts
  client/src/features/status/model/index.ts
  client/src/features/status/types/index.ts
  client/src/features/status/ui/index.ts
Due: type-check, unit-tests

refactor: remove placeholder scaffolding, keep only real implementations
  client/src/features/api/model/index.ts
  client/src/features/api/ui/index.ts
  client/src/features/market/model/index.ts
  client/src/features/market/types/index.ts
  client/src/features/market/ui/index.ts
  client/src/features/notifications/ui/index.ts
  client/src/features/onboarding/model/index.ts
  client/src/features/onboarding/ui/index.ts
  client/src/features/sitemap/model/index.ts
  client/src/features/sitemap/types/index.ts
  client/src/features/sitemap/ui/index.ts
  client/src/features/status/model/index.ts
  client/src/features/status/types/index.ts
  client/src/features/status/ui/index.ts
Due: type-check, unit-tests

fix: resolve TypeScript errors in analysis feature
  .env
  .env.development
  .env.production
  client/.env.development
  client/.env.production
  deployment/environment-configs/development.env
  deployment/environment-configs/production.env
  deployment/environment-configs/staging.env
  server/.env.development
  server/.env.production
  server/features/analysis/analysis.routes.ts
  server/features/analysis/application/AnalysisApplicationService.ts
  server/features/analysis/application/analysis-service-direct.ts
  server/features/analysis/application/analysis-validation.schemas.ts
  server/features/analysis/application/bill-comprehensive-analysis.service.ts
  server/features/analysis/application/constitutional-analysis.service.ts
  server/features/analysis/application/stakeholder-analysis.service.ts
  server/features/analysis/application/transparency-analysis.service.ts
  server/features/analysis/infrastructure/adapters/ml-service-adapter.ts
  server/features/analysis/types/index.ts
Due: type-check, unit-tests

test: add comprehensive tests for audit scripts
  AUDIT_SCRIPTS_TEST_RESULTS.md
  scripts/audit-security.test.ts
  scripts/vitest.config.ts
Due: type-check, unit-tests

docs: add session summary and audit results
  AUDIT_RESULTS_SUMMARY.md
  SESSION_COMPLETE_SUMMARY.md
Due: none

feat: add database timeout configuration and fix analysis routes validation
  CHANUKA_CASUAL_PITCH.md
  CHANUKA_FORMAL_PITCH.md
  server/features/analysis/analysis-validation.schemas.ts
  server/features/analysis/analysis.routes.ts
  server/infrastructure/database/connection.ts
  server/infrastructure/database/pool.ts
Due: type-check, unit-tests

docs: add security fixes progress report
  SECURITY_FIXES_PROGRESS.md
Due: none

fix: resolve TypeScript errors in error infrastructure
  client/src/infrastructure/error/monitoring.tsx
  client/src/infrastructure/error/unified-factory.ts
  client/src/infrastructure/error/unified-handler.ts
  shared/constants/error-codes.ts
Due: type-check, unit-tests

fix: move OnboardingTrigger inside Router context
  client/src/App.tsx
  client/src/app/shell/AppRouter.tsx
Due: type-check
