Repository Ngulliinsights/Chanuka: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, unit-tests, architecture-check, coverage-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for analytics module
# Install with: pip install pre-commit && pre-commit install

repos:
  # TypeScript and JavaScript hooks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.57.0
    hooks:
      - id: eslint
        files: \.(js|ts)$
        types: [file]
        additional_dependencies:
          - eslint@^8.0.0
          - '@typescript-eslint/parser'
          - '@typescript-eslint/eslint-plugin'
        args: [--config, .eslintrc.js]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(js|ts|json|md)$
        exclude: package-lock.json

  # TypeScript type checking
  - repo: local
    hooks:
      - id: type-check
        name: TypeScript Type Check
        entry: npm run type-check
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Unit tests
  - repo: local
    hooks:
      - id: unit-tests
        name: Run Unit Tests
        entry: npm test -- --testPathPattern="(analytics|cache|db-helpers|controller-wrapper)" --passWithNoTests
        language: system
        files: \.(ts|js)$
        pass_filenames: false
        stages: [commit]

  # Analytics-specific checks
  - repo: local
    hooks:
      - id: architecture-check
        name: Architecture Boundary Check
        entry: node scripts/check-architecture.js
        language: system
        files: server/features/analytics/.*
        pass_filenames: false

  - repo: local
    hooks:
      - id: coverage-check
        name: Test Coverage Check
        entry: npm run test:coverage -- --testPathPattern=analytics --coverageThreshold='{"global":{"statements":80,"branches":70,"functions":80,"lines":80}}'
        language: system
        files: server/features/analytics/.*
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Commit message checks
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.1.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, test, chore]

# Configuration for different file types
exclude: |
  (?x)^(
    .*\.min\.js$|
    .*/node_modules/|
    .*/dist/|
    .*/build/|
    .*\.d\.ts$
  )$

docs: complete infrastructure consolidation import dependency analysis
  .kiro/specs/infrastructure-consolidation/tasks.md
  analysis-results/infrastructure-consolidation-import-analysis.md
Due: none

fix: resolve TypeScript errors in coverage-routes.ts
  server/features/coverage/coverage-routes.ts
Due: type-check, unit-tests

chore: remove backup directory - consolidation complete and in git history
  .backups/cache-consolidation/BACKUP_MANIFEST.md
  .backups/cache-consolidation/pre-consolidation/cache-factory.ts
  .backups/cache-consolidation/pre-consolidation/cache.ts
  .backups/cache-consolidation/pre-consolidation/caching-service.ts
  .backups/cache-consolidation/pre-consolidation/factory.ts
  .backups/cache-consolidation/pre-consolidation/icaching-service.ts
  .backups/cache-consolidation/pre-consolidation/simple-factory.ts
  .backups/cache-consolidation/pre-service-consolidation/caching-service.ts
  .backups/cache-consolidation/pre-service-consolidation/icaching-service.ts
  .backups/config-consolidation/BACKUP_MANIFEST.md
  .backups/config-consolidation/pre-consolidation/index.ts
  .backups/config-consolidation/pre-consolidation/manager.ts
  .kiro/specs/comprehensive-bug-fixes/JUSTIFIED_ESLINT_SUPPRESSIONS.md
  .kiro/specs/comprehensive-bug-fixes/METRICS_VERIFICATION_REPORT.json
  PROGRESS_UPDATE_SESSION_2.md
  scripts/fix-eslint-remaining.ts
  scripts/verify-metrics.ts
  server/infrastructure/websocket/core/websocket-service.ts
Due: type-check, unit-tests

fix: resolve TypeScript alias issues and create missing database-service
  ALIAS_AND_API_ISSUES_SUMMARY.md
  ALIAS_RESOLUTION_ANALYSIS.md
  COMMIT_SUMMARY.md
  DATABASE_SERVICE_MISSING_ISSUE.md
  PRE_COMMIT_ANALYSIS.md
  server/features/bills/application/bill-service-adapter.ts
  server/features/bills/bills-router-migrated.ts
  server/features/users/application/users.ts
  server/infrastructure/database/database-service.ts
  server/infrastructure/observability/index.ts
  server/tsconfig.json
  tsconfig.json
Due: type-check, unit-tests

docs: create migration plan and automated migration script
  INCOMPLETE_MIGRATION_ANALYSIS.md
  MIGRATION_PLAN.md
  scripts/migrate-error-handling-api.ts
  server/features/users/application/users.ts
Due: type-check, unit-tests

docs: explain database service and update migration script
  DATABASE_SERVICE_EXPLANATION.md
  scripts/migrate-error-handling-api.ts
  server/features/bills/application/bill-service-adapter.ts
  server/features/bills/application/bill-service.ts
  server/features/users/application/users.ts
Due: type-check, unit-tests

fix: resolve circular dependency in build graph
  CIRCULAR_DEPENDENCY_FIX.md
  shared/types/database/generated-tables.ts
Due: type-check, unit-tests

refactor(shared): consolidate error type definitions and improve type safety
  package.json
  shared/types/api/error-types.ts
  shared/types/core/errors.ts
Due: type-check, unit-tests

fix(config): resolve TypeScript module resolution and path mapping issues
  server/tsconfig.json
  tsconfig.json
Due: none

refactor(database): modernize database infrastructure with unified connection management
  server/infrastructure/database/connection.ts
  server/infrastructure/database/pool.ts
Due: type-check, unit-tests

refactor(cache): consolidate caching infrastructure with improved architecture
  server/infrastructure/cache/advanced-caching.service.ts
Due: type-check, unit-tests

refactor(infrastructure): consolidate core services and improve error handling
  server/infrastructure/core/auth/secure-session.service.ts
  server/infrastructure/core/validation/input-validation.service.ts
  server/infrastructure/core/validation/schema-validation-service.ts
  server/infrastructure/error-handling/external-api-error-handler.ts
  server/infrastructure/error-handling/resilience.ts
Due: type-check, unit-tests

refactor(infrastructure): modernize WebSocket, notifications, and observability systems
  server/infrastructure/notifications/enhanced-notification.service.ts
  server/infrastructure/observability/monitoring/error-tracker.ts
  server/infrastructure/observability/monitoring/performance-monitoring.service.ts
Due: type-check, unit-tests

refactor(database): enhance graph database integration and repository patterns
  server/infrastructure/adapters/drizzle-adapter.ts
  server/infrastructure/database/graph/analytics/influence-service.ts
  server/infrastructure/database/graph/analytics/network-discovery.ts
  server/infrastructure/database/graph/analytics/pattern-discovery-service.ts
  server/infrastructure/database/graph/analytics/pattern-discovery.ts
  server/infrastructure/database/graph/core/app-init.ts
  server/infrastructure/database/graph/core/batch-sync-runner.ts
  server/infrastructure/database/graph/core/graphql-api.ts
  server/infrastructure/database/graph/core/idempotency-ledger.ts
  server/infrastructure/database/graph/core/sync-executor.ts
  server/infrastructure/database/graph/core/transaction-executor.ts
  server/infrastructure/database/graph/sync/advanced-relationships.ts
  server/infrastructure/database/graph/sync/advanced-sync.ts
  server/infrastructure/database/graph/sync/conflict-resolver.ts
  server/infrastructure/database/graph/sync/engagement-networks.ts
  server/infrastructure/database/graph/sync/institutional-networks.ts
  server/infrastructure/database/graph/sync/network-sync.ts
  server/infrastructure/database/graph/sync/parliamentary-networks.ts
  server/infrastructure/database/graph/sync/safeguards-networks.ts
  server/infrastructure/database/graph/sync/sync-monitoring.ts
  server/infrastructure/database/graph/utils/cache-adapter-v2.ts
  server/infrastructure/database/graph/utils/error-adapter-v2.ts
  server/infrastructure/database/graph/utils/health-adapter-v2.ts
  server/infrastructure/database/graph/utils/operation-guard.ts
  server/infrastructure/database/graph/utils/result-normalizer.ts
  server/infrastructure/database/graph/utils/retry-utils.ts
  server/infrastructure/database/graph/utils/test-harness.ts
  server/infrastructure/schema/__tests__/schema-integration.test.ts
  server/infrastructure/schema/domains/citizen-participation.ts
  server/infrastructure/schema/domains/constitutional-intelligence.ts
  server/infrastructure/schema/domains/foundation.ts
  server/infrastructure/schema/domains/index.ts
  server/infrastructure/schema/domains/integrity-operations.ts
  server/infrastructure/schema/domains/parliamentary-process.ts
  server/infrastructure/schema/domains/safeguards.ts
Due: type-check, unit-tests

refactor(features): update all feature modules with standardized imports and patterns
  server/features/admin/admin.ts
  server/features/alert-preferences/application/utils/alert-utilities.ts
  server/features/alert-preferences/domain/services/unified-alert-preference-service.ts
  server/features/analysis/application/bill-comprehensive-analysis.service.ts
  server/features/analysis/application/stakeholder-analysis.service.ts
  server/features/analytics/config/analytics.config.ts
  server/features/analytics/conflict-detection/conflict-detection-engine.service.ts
  server/features/analytics/conflict-detection/conflict-detection-orchestrator.service.ts
  server/features/analytics/regulatory-change-monitoring.ts
  server/features/analytics/services/engagement.service.ts
  server/features/analytics/transparency-dashboard.ts
  server/features/bills/application/bill-tracking.service.ts
  server/features/bills/application/bills.ts
  server/features/community/comment-voting.ts
  server/features/community/comment.ts
  server/features/community/community.ts
  server/features/community/social-integration.ts
  server/features/coverage/coverage-routes.ts
  server/features/repository-cleanup.ts
  server/features/safeguards/infrastructure/safeguard-jobs.ts
  server/features/search/infrastructure/SearchIndexManager.ts
  server/features/users/application/use-cases/profile-management-use-case.ts
  server/features/users/application/use-cases/user-registration-use-case.ts
  server/features/users/domain/services/user-management-domain-service.ts
  server/features/users/domain/services/user-verification-domain-service.ts
  server/features/users/domain/user-profile.ts
  server/features/users/infrastructure/email-service.ts
  server/features/users/infrastructure/notification-service.ts
  server/features/users/infrastructure/user-storage.ts
Due: type-check, unit-tests, architecture-check, coverage-check

refactor(infrastructure): consolidate migration, external data, and security services
  server/infrastructure/database/utils/base-script.ts
  server/infrastructure/migration/deployment-monitoring-dashboard.ts
  server/infrastructure/migration/deployment-orchestrator.ts
  server/infrastructure/migration/repository-deployment-executor.ts
  server/infrastructure/migration/repository-deployment-validator.ts
  server/services/advancedCachingService.ts
  server/services/api-cost-monitoring.ts
  server/services/coverage-analyzer.ts
  server/services/enhancedNotificationService.ts
  server/services/external-api-error-handler.ts
  server/services/inputValidationService.ts
  server/services/managed-government-data-integration.ts
  server/services/performanceMonitoring.ts
  server/services/schema-validation-demo.ts
  server/services/secureSessionService.ts
Due: type-check, unit-tests

refactor(server): update utilities, types, config, and scripts with standardized imports
  server/utils/crypto.ts
  server/utils/validation.ts
Due: type-check, unit-tests

test: update test infrastructure and shared utilities with standardized imports
  shared/core/utils/images/image-utils.ts
Due: type-check, unit-tests

docs: update project documentation and spec tracking
  .kiro/specs/codebase-consolidation/tasks.md
  .kiro/specs/import-resolution-audit/README.md
  .kiro/specs/import-resolution-audit/design.md
  .kiro/specs/import-resolution-audit/requirements.md
  .kiro/specs/import-resolution-audit/tasks.md
  .kiro/specs/module-resolution-fixes/design.md
  .kiro/specs/module-resolution-fixes/requirements.md
  .kiro/specs/module-resolution-fixes/tasks.md
  .kiro/specs/server-typescript-errors-remediation/tasks.md
  docs/project-structure.md
  migration-verification-report.json
Due: none

docs: add comprehensive migration and analysis documentation
  COMPLETE_MIGRATION_NOW.md
  DATABASE_SERVICE_MIGRATION_GUIDE.md
  FINAL_MIGRATION_STATUS.md
  MIGRATION_CHECKLIST.md
  MIGRATION_PROGRESS.md
  baseline_analysis.md
  project-structure-reference.md
  server/PHASE1_ARCHITECTURAL_DECISIONS.md
  server/PHASE1_BREAKTHROUGH.md
  server/PHASE1_FINAL_STATUS.md
  server/PHASE1_PROGRESS_UPDATE.md
  server/files-with-10plus-errors.md
  server/phase1-checkpoint-report.md
  server/phase1-continuation-plan.md
Due: none

chore: add baseline metrics, analysis scripts, and tooling verification
  baseline_circular_client.txt
  baseline_circular_server.txt
  baseline_circular_shared.txt
  baseline_depcheck.json
  baseline_tsc_client.txt
  baseline_tsc_root.txt
  baseline_tsc_server.txt
  baseline_tsc_shared.txt
  baseline_unused_exports.txt
  baseline_vitest.txt
  baseline_vitest_full.txt
  canary_files.txt
  error_counts.txt
  identify-canaries.sh
  scripts/fix-database-service-calls.cjs
  scripts/migrate-database-service-calls.ts
  tool_verification_summary.md
Due: type-check, unit-tests

fix(middleware): fix bugs + remove 22 dead files
  server/middleware/VALIDATION_MIGRATION_GUIDE.md
  server/middleware/ai-deduplication.ts
  server/middleware/ai-middleware.ts
  server/middleware/app-middleware.ts
  server/middleware/auth.ts
  server/middleware/boom-error-middleware.ts
  server/middleware/boom-migration-summary.md
  server/middleware/circuit-breaker-middleware.ts
  server/middleware/error-management.ts
  server/middleware/file-upload-validation.ts
  server/middleware/index.ts
  server/middleware/middleware-config.ts
  server/middleware/middleware-feature-flags.ts
  server/middleware/middleware-types.ts
  server/middleware/migration-wrapper.ts
  server/middleware/privacy-middleware.ts
  server/middleware/securityMiddleware.ts
  server/middleware/server-error-integration.ts
  server/middleware/unified-middleware.ts
Due: type-check, unit-tests

fix(middleware): fix remaining errors across 9 middleware files
  server/middleware/api-contract-validation.ts
  server/middleware/app-middleware.ts
  server/middleware/auth.ts
  server/middleware/boom-error-middleware.ts
  server/middleware/cache-middleware.ts
  server/middleware/circuit-breaker-middleware.ts
  server/middleware/privacy-middleware.ts
  server/middleware/safeguards.ts
  server/middleware/service-availability.ts
  server/middleware/validation-middleware.ts
Due: type-check, unit-tests

fix(middleware): resolve all remaining warnings and errors
  server/middleware/app-middleware.ts
  server/middleware/auth.ts
  server/middleware/circuit-breaker-middleware.ts
  server/middleware/error-management.ts
  server/middleware/privacy-middleware.ts
Due: type-check, unit-tests

docs: evaluate and resolve specs/plans conflicts
  docs/specs-plans-action-plan.md
  docs/specs-plans-evaluation.md
Due: none

docs: add executive summary for specs/plans evaluation
  docs/specs-plans-executive-summary.md
Due: none

chore: archive obsolete specs and plans, delete build artifacts
  .agent/specs/archived/type-cleanup-obsolete-2026-02/OBSOLETE.md
  .agent/specs/archived/type-cleanup-obsolete-2026-02/design.md
  .agent/specs/archived/type-cleanup-obsolete-2026-02/requirements.md
  .agent/specs/archived/type-cleanup-obsolete-2026-02/tasks.md
  docs/project-structure.md
  docs/specs-plans-action-plan.md
  docs/specs-plans-evaluation.md
  docs/specs-plans-executive-summary.md
  docs/specs-plans-obsolete-assessment.md
  docs/specs-plans-relevance-assessment.md
  plans/archived/OBSOLETE.md
  plans/archived/design-obsolete-2026-02.md
  plans/archived/requirements-obsolete-2026-02.md
Due: none

docs: add cleanup summary for February 24, 2026
  docs/CLEANUP_SUMMARY_2026-02-24.md
Due: none
