Repository Ngulliinsights/Chanuka: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, unit-tests, architecture-check, coverage-check

type-check:
  name: TypeScript Type Check
  entry: npm run type-check
  language: system
  pass_filenames: false

unit-tests:
  name: Run Unit Tests
  entry: npm test -- --testPathPattern="(analytics|cache|db-helpers|controller-wrapper)" --passWithNoTests
  language: system
  pass_filenames: false
  stages:
  - commit

architecture-check:
  name: Architecture Boundary Check
  entry: node scripts/check-architecture.js
  language: system
  pass_filenames: false

coverage-check:
  name: Test Coverage Check
  entry: npm run test:coverage -- --testPathPattern=analytics --coverageThreshold='{"global":{"statements":80,"branches":70,"functions":80,"lines":80}}'
  language: system
  pass_filenames: false

Remove simple schema validation script and update TypeScript configuration to suppress deprecation warnings for baseUrl.
  client/src/components/dashboard/tracked-topics.tsx
  client/src/components/notifications/notification-preferences.tsx
  client/src/components/real-time/BillTrackingPreferences.tsx
  client/src/components/security/SecureForm.tsx
  client/src/components/security/SecuritySettings.tsx
  client/src/components/ui/form-accessibility.tsx
  client/tailwind.config.minimal.ts
  client/tsconfig.json
  server/tsconfig.json
  shared/schema/COMPREHENSIVE_GAPS_ADDRESSED.md
  shared/schema/CRITICAL_GAPS_FIXED.md
  shared/schema/FINAL_ARCHITECTURE_SUMMARY.md
  shared/schema/SCHEMA_TRANSFORMATION_COMPLETE.md
  shared/schema/SCHEMA_VERIFICATION_COMPLETE.md
  shared/schema/schema_redesign.md
  shared/schema/simple-validate.js
  shared/tsconfig.json
Due: type-check, unit-tests

refactor: update import paths and improve test cases for form field components
  client/src/components/ui/__tests__/form-field.test.tsx
  cspell.config.yaml
  shared/database/connection.ts
  shared/database/core/config.ts
  shared/database/core/connection-manager.ts
  shared/database/core/database-orchestrator.ts
  shared/database/core/health-monitor.ts
  shared/database/index.ts
  shared/database/init.ts
  shared/database/utils/base-script.ts
  shared/tsconfig.json
Due: type-check, unit-tests

docs: add comprehensive design system integration analysis and orphan file tools
  .kiro/specs/design-system-integration/requirements.md
  DESIGN_SYSTEM_INTEGRATION_COMPLETE.md
  DESIGN_SYSTEM_INTEGRATION_GAP_ANALYSIS.md
  DESIGN_SYSTEM_PHASE_2_COMPLETE.md
  DISCUSSION_COMMUNITY_INTEGRATION_ANALYSIS_VALIDATED.md
  NAVIGATION_CONSISTENCY_ANALYSIS_REPORT.md
  NAVIGATION_CONSISTENCY_PHASE2_COMPLETE.md
  NAVIGATION_UTILITIES_CONSOLIDATION_COMPLETE.md
  NAVIGATION_UTILITIES_REDUNDANCY_ANALYSIS.md
  discussion_community_integration_analysis.md
  docs/Chanuka_Platform_Complementarity_and_Accountability_Analysis.md
  docs/project-structure.md
  tools/INTEGRATION_ROADMAP.csv
  tools/ORPHAN_VALUE_ANALYSIS.md
  tools/TIER_1_INTEGRATION_STATUS.md
  tools/analyze-orphans-metadata.cjs
  tools/calculate-loc.cjs
  tools/evaluate-orphans.cjs
  tools/find-orphans.cjs
  tools/gather-metadata.cjs
  tools/orphan-evaluation-report.md
  tools/orphan-report.json
  tools/orphans-evaluation.json
  tools/orphans-metadata.csv
  tools/orphans-metadata.json
  tools/top-orphans-loc.json
Due: none

feat(client): add implementation workarounds component
  client/src/components/bills/implementation-workarounds.tsx
  client/src/components/navigation/__tests__/navigation-utils.test.ts
  client/src/contexts/__tests__/navigation-persistence.test.tsx
  client/src/pages/bill-sponsorship-analysis.tsx
  scripts/fix-frontend-imports.js
Due: type-check, unit-tests

docs: add comprehensive branch analysis and comparison documents
  00_START_HERE.md
  BRANCH_ANALYSIS_DOCUMENTATION_INDEX.md
  BRANCH_ANALYSIS_SUMMARY.txt
  BRANCH_COMPARISON_DEEP_ANALYSIS.md
  BRANCH_COMPARISON_MATRIX_AND_ROADMAP.md
  EXECUTIVE_SUMMARY_BRANCH_ANALYSIS.md
  QUICK_REFERENCE_BRANCH_COMPARISON.md
  STRATEGIC_MERGE_IMPLEMENTATION_GUIDE.md
Due: none

chore: gitignore sidebar file
  .gitignore
Due: none

chore: remove sidebar conflict file
  client/src/components/sidebar.tsx
Due: type-check

docs: add comprehensive merge integration summary confirming all gains
  MERGE_INTEGRATION_SUMMARY.md
Due: none

cleanup: remove 25+ redundant utils files (migrations, suppressors, docs)
  client/src/core/api/MIGRATION_SUMMARY.md
  client/src/core/error/MIGRATION_GUIDE.md
  client/src/core/loading/MIGRATION_GUIDE.md
  client/src/core/navigation/MIGRATION_SUMMARY.md
  client/src/core/performance/MIGRATION_SUMMARY.md
  client/src/core/storage/MIGRATION_SUMMARY.md
  client/src/utils/AUTOFIX_SUMMARY.md
  client/src/utils/CLEANUP_PHASE_PLAN.md
  client/src/utils/CLEANUP_STATUS_REPORT.md
  client/src/utils/CONSOLIDATION_COMPLETE.md
  client/src/utils/CONSOLIDATION_FINAL.md
  client/src/utils/CONSOLIDATION_MIGRATION.md
  client/src/utils/CONSOLIDATION_PROGRESS.md
  client/src/utils/MIGRATION_SUMMARY.md
  client/src/utils/PHASE_4_VALIDATION.md
  client/src/utils/REDUNDANCY_COUNTERCHECK_ANALYSIS.md
  client/src/utils/api-migrated.ts
  client/src/utils/browser-compatibility-tests.ts
  client/src/utils/console-error-log.md
  client/src/utils/dev-error-suppressor.ts
  client/src/utils/error-integration.ts
  client/src/utils/error-rate-limiter.ts
  client/src/utils/error-setup.ts
  client/src/utils/error-suppression.ts
  client/src/utils/extension-error-suppressor.ts
  client/src/utils/logger-migration-guide.md
  client/src/utils/performance-migrated.ts
  client/src/utils/phase3-error-system.ts
  client/src/utils/render-tracking-README.md
  client/src/utils/storage-migrated.ts
  client/src/utils/v1.ts
Due: type-check, unit-tests

refactor: consolidate error handling to core/error, remove redundant utils/errors.ts
  client/src/components/error-handling/ErrorBoundary.tsx
  client/src/utils/errors.ts
Due: type-check, unit-tests

refactor: consolidate testing infrastructure into tests/ (Option A)
  test-utils/README.md
  test-utils/setup.ts
  tests/README.md
  tests/factories/README.md
  tests/setup/index.ts
  tests/setup/vitest.ts
  vitest.setup.ts
Due: type-check, unit-tests

doc: Phase 1 testing infrastructure complete (Option A - Consolidated)
  docs/PHASE1_TESTING_COMPLETE.md
Due: none

refactor: Consolidate vitest configuration to single workspace
  client/vitest.config.ts
  client/vitest.config.ts.timestamp-1764269734457-23e2fd6269212.mjs
  client/vitest.integration.config.ts
  client/vitest.performance.config.ts
  docs/TESTING_UTILS_MIGRATION_COMPLETE.md
  docs/VITEST_CONFIG_SPRAWL_ANALYSIS.md
  server/vitest.config.ts
  shared/vitest.config.ts
  vitest.config.ts
  vitest.workspace.config.ts
  vitest.workspace.ts
  vitest.workspace.unified.ts
Due: type-check, unit-tests

refactor(structure): reorganize components into feature-sliced design structure
  client/src/core/browser/BrowserCompatibilityChecker.tsx
  client/src/core/browser/BrowserCompatibilityReport.tsx
  client/src/core/browser/BrowserCompatibilityTester.tsx
  client/src/core/browser/FeatureFallbacks.tsx
  client/src/core/browser/useBrowserStatus.tsx
  client/src/features/admin/ui/admin-dashboard.tsx
  client/src/features/bills/ui/analysis/conflict-of-interest/ConflictNetworkVisualization.tsx
  client/src/features/bills/ui/analysis/conflict-of-interest/ConflictOfInterestAnalysis.tsx
  client/src/features/bills/ui/analysis/conflict-of-interest/FinancialExposureTracker.tsx
  client/src/features/bills/ui/analysis/conflict-of-interest/HistoricalPatternAnalysis.tsx
  client/src/features/bills/ui/analysis/conflict-of-interest/ImplementationWorkaroundsTracker.tsx
  client/src/features/bills/ui/analysis/conflict-of-interest/TransparencyScoring.tsx
  client/src/features/bills/ui/analysis/conflict-of-interest/index.ts
  client/src/features/bills/ui/bill-tracking/real-time-tracker.tsx
  client/src/features/bills/ui/implementation/workarounds.tsx
  client/src/shared/ui/education/ConstitutionalContext.tsx
  client/src/shared/ui/education/EducationalFramework.tsx
  client/src/shared/ui/education/EducationalTooltip.tsx
  client/src/shared/ui/education/HistoricalPrecedents.tsx
  client/src/shared/ui/education/PlainLanguageSummary.tsx
  client/src/shared/ui/education/ProcessEducation.tsx
  client/src/shared/ui/education/README.md
  client/src/shared/ui/education/index.ts
Due: type-check, unit-tests

refactor: streamline cache types and improve module exports for FSD compliance
  client/src/core/api/cache-manager.ts
  client/src/core/index.ts
  client/src/core/storage/index.ts
  client/src/core/storage/types.ts
  client/src/features/index.ts
Due: type-check, unit-tests

Path conditions:
  type-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js$|
  .*/node_modules/|
  .*/dist/|
  .*/build/|
  .*\.d\.ts$
)$
  unit-tests: any of: \.(ts|js)$, but not: (?x)^(
  .*\.min\.js$|
  .*/node_modules/|
  .*/dist/|
  .*/build/|
  .*\.d\.ts$
)$
  architecture-check: any of: server/features/analytics/.*, but not: (?x)^(
  .*\.min\.js$|
  .*/node_modules/|
  .*/dist/|
  .*/build/|
  .*\.d\.ts$
)$
  coverage-check: any of: server/features/analytics/.*, but not: (?x)^(
  .*\.min\.js$|
  .*/node_modules/|
  .*/dist/|
  .*/build/|
  .*\.d\.ts$
)$
