Repository Ngulliinsights/Chanuka: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, unit-tests, architecture-check, coverage-check

type-check:
  name: TypeScript Type Check
  entry: npm run type-check
  language: system
  pass_filenames: false

unit-tests:
  name: Run Unit Tests
  entry: npm test -- --testPathPattern="(analytics|cache|db-helpers|controller-wrapper)" --passWithNoTests
  language: system
  pass_filenames: false
  stages:
  - commit

architecture-check:
  name: Architecture Boundary Check
  entry: node scripts/check-architecture.js
  language: system
  pass_filenames: false

coverage-check:
  name: Test Coverage Check
  entry: npm run test:coverage -- --testPathPattern=analytics --coverageThreshold='{"global":{"statements":80,"branches":70,"functions":80,"lines":80}}'
  language: system
  pass_filenames: false

refactor(financial-disclosure): rename monitoring service to compliance-auditing service
  server/features/analytics/domain/financial-disclosure/compliance-auditing.service.ts
  server/features/analytics/domain/financial-disclosure/financial-disclosure-orchestrator.service.ts
  server/features/analytics/domain/financial-disclosure/index.ts
Due: type-check, unit-tests, architecture-check, coverage-check

refactor(domain): rename remaining business monitors to compliance trackers
  server/features/analytics/domain/regulatory-change-tracker.service.ts
  server/features/bills/application/bill-status-tracker.service.ts
  server/features/security/infrastructure/services/security-event-tracker.service.ts
  server/features/security/security-event-tracker.ts
Due: type-check, unit-tests, architecture-check, coverage-check

refactor(analytics): rename feature monitoring to product analytics
  client/src/features/admin/product-analytics/README.md
  client/src/features/admin/product-analytics/__tests__/AlertManagement.test.tsx
  client/src/features/admin/product-analytics/__tests__/HealthStatusDisplay.test.tsx
  client/src/features/admin/product-analytics/__tests__/IntegrationMonitoringDashboard.test.tsx
  client/src/features/admin/product-analytics/__tests__/monitoring-e2e.test.tsx
  client/src/features/admin/product-analytics/__tests__/useMonitoring.test.tsx
  client/src/features/admin/product-analytics/api/index.ts
  client/src/features/admin/product-analytics/api/monitoring-api.ts
  client/src/features/admin/product-analytics/hooks/index.ts
  client/src/features/admin/product-analytics/hooks/use-monitoring.ts
  client/src/features/admin/product-analytics/index.ts
  client/src/features/admin/product-analytics/model/continuous-performance-monitor.ts
  client/src/features/admin/product-analytics/model/index.ts
  client/src/features/admin/product-analytics/model/performance-benchmarking.ts
  client/src/features/admin/product-analytics/model/performance-regression-tester.ts
  client/src/features/admin/product-analytics/model/render-tracker.ts
  client/src/features/admin/product-analytics/model/render-tracking-integration.ts
  client/src/features/admin/product-analytics/model/route-profiler.ts
  client/src/features/admin/product-analytics/pages/integration-monitoring.tsx
  client/src/features/admin/product-analytics/pages/monitoring-dashboard.tsx
  client/src/features/admin/product-analytics/types.ts
  client/src/features/admin/product-analytics/ui/AlertManagement.tsx
  client/src/features/admin/product-analytics/ui/ErrorTrackingDisplay.tsx
  client/src/features/admin/product-analytics/ui/FeatureUsageCharts.tsx
  client/src/features/admin/product-analytics/ui/HealthStatusDisplay.tsx
  client/src/features/admin/product-analytics/ui/IntegrationMonitoringDashboard.tsx
  client/src/features/admin/product-analytics/ui/MetricsVisualization.tsx
  client/src/features/admin/product-analytics/ui/PerformanceMetrics.tsx
  client/src/features/admin/product-analytics/ui/index.ts
  server/features/product-analytics/README.md
  server/features/product-analytics/__tests__/integration-monitor.service.test.ts
  server/features/product-analytics/__tests__/monitoring-api.integration.test.ts
  server/features/product-analytics/application/monitoring.routes.ts
  server/features/product-analytics/domain/alerting.service.ts
  server/features/product-analytics/domain/integration-monitor.service.ts
  server/features/product-analytics/index.ts
  server/features/product-analytics/infrastructure/metrics-middleware.ts
  server/features/product-analytics/regulatory/index.ts
  server/features/product-analytics/regulatory/regulatory-monitoring.routes.ts
Due: type-check, unit-tests

fix: remove unused React imports and correct FlagAnalyticsDashboard import
  client/src/features/admin/feature-flags/pages/feature-flags.tsx
  client/src/features/admin/feature-flags/ui/FeatureFlagManager.tsx
  client/src/features/admin/feature-flags/ui/FlagAnalyticsDashboard.tsx
Due: type-check

chore: remove build artifacts and debugging documentation
  server/BUGS_FIXED.md
  server/BUGS_FIXED_COMPREHENSIVE.md
  server/DEMO_READY_CONFIRMATION.md
  server/FINAL_BUG_STATUS.md
  server/FIXES_APPLIED_2026-03-09.md
  server/MVP_CORE_FEATURES_STATUS.md
  server/NETWORK_ERROR_DIAGNOSIS.md
  server/QUICK_START_AFTER_BUG_FIX.md
  server/README_BUG_FIXES.md
  server/SERVER_RUNNING_STATUS.md
  server/STARTUP_FIXES.md
  server/STARTUP_FIXES_2026-03-09.md
  server/core-features-errors.txt
  server/start-server.ts
  server/start.ts
  server/test-startup.ts
  server/type-check-after-logger-fix.txt
  server/type-check-latest.txt
Due: type-check, unit-tests

refactor: reorganize services to DDD layers (analytics/security/ussd/monitoring)
  client/src/features/admin/monitoring/pages/integration-monitoring.tsx
  server/features/analytics/application/legal-analysis.service.ts
  server/features/analytics/application/services/ussd-corruption-analysis.service.ts
  server/features/analytics/application/services/ussd-market-intelligence.service.ts
  server/features/analytics/domain/financial-disclosure/config/index.ts
  server/features/analytics/infrastructure/repositories/conflict-detection.repository.ts
  server/features/notifications/__tests__/alert-preferences.integration.test.ts
  server/features/product-analytics/regulatory/regulatory-change-tracker.service.ts
  server/features/security/infrastructure/http/security-middleware.ts
  server/features/security/infrastructure/observability/security-event-logger.ts
  server/features/security/infrastructure/policies/security-policy.ts
  server/features/universal_access/application/ussd-corruption-analysis.service.ts
  server/features/universal_access/application/ussd-market-intelligence.service.ts
  shared/types/ml.ts
Due: type-check, unit-tests, architecture-check, coverage-check

refactor: stabilize components with type annotations and import path updates
  client/src/App.tsx
  client/src/app/shell/AppRouter.tsx
  client/src/features/accountability/advocacy/ElectoralPressure.tsx
  client/src/features/accountability/advocacy/pages/AdvocacyDashboard.tsx
  client/src/features/accountability/advocacy/ui/ActionCard.tsx
  client/src/features/accountability/advocacy/ui/CampaignCard.tsx
  client/src/features/accountability/pages/ElectoralAccountabilityDashboard.tsx
  client/src/features/accountability/sponsors/pages/SponsorDetailPage.tsx
  client/src/features/accountability/sponsors/pages/SponsorsPage.tsx
  client/src/features/accountability/sponsors/services/api.ts
  client/src/features/accountability/sponsors/ui/ConflictVisualization.tsx
  client/src/features/accountability/sponsors/ui/RiskProfile.tsx
  client/src/features/accountability/sponsors/ui/SponsorCard.tsx
  client/src/features/accountability/sponsors/ui/SponsorList.tsx
  client/src/features/accountability/ui/mp-scorecard/MPScorecard.tsx
  client/src/features/accountability/ui/shared/GapSeverityBadge.tsx
  client/src/infrastructure/api/index.ts
  client/src/infrastructure/security/security-monitor.ts
  docs/project-structure.md
Due: type-check, unit-tests

refactor: complete service reorganization and update import paths
  server/features/analytics/application/services/real-ml.service.ts
  server/features/analytics/application/services/ussd.service.ts
  server/features/analytics/domain/conflict-detection.service.ts
  server/features/analytics/domain/conflict-detection/conflict-detection-engine.service.ts
  server/features/analytics/domain/conflict-detection/conflict-detection-orchestrator.service.ts
  server/features/analytics/domain/conflict-detection/stakeholder-analysis.service.ts
  server/features/analytics/domain/conflict-detection/types.ts
  server/features/analytics/domain/financial-disclosure/index.ts
  server/features/analytics/domain/financial-disclosure/services/disclosure-processing.service.ts
  server/features/analytics/domain/financial-disclosure/services/disclosure-validation.service.ts
  server/features/analytics/domain/legal-analysis.service.ts
  server/features/analytics/domain/ml-analysis.service.ts
  server/features/analytics/domain/regulatory-change-tracker.service.ts
  server/features/analytics/infrastructure/repositories/index.ts
  server/features/product-analytics/regulatory/regulatory-monitoring.routes.ts
  server/features/security/index.ts
  server/features/security/infrastructure/services/index.ts
  server/features/security/infrastructure/services/security-event-tracker.service.ts
  server/features/security/infrastructure/services/security-initialization.service.ts
  server/features/security/security-event-logger.ts
  server/features/security/security-event-tracker.ts
  server/features/security/security-middleware.ts
  server/features/security/security-policy.ts
  server/features/universal_access/application/ussd.config.ts
  server/features/universal_access/application/ussd.service.ts
  server/infrastructure/observability/http/audit-middleware.ts
  server/infrastructure/observability/index.ts
  server/server-startup.ts
Due: type-check, unit-tests, architecture-check, coverage-check

refactor: migrate server types to @shared/types for single source of truth
  SERVER_TYPE_MIGRATION_MAP.md
  server/features/admin/moderation/types.ts
  server/features/advocacy/types/index.ts
  server/features/feature-flags/domain/types.ts
  server/features/search/domain/search.dto.ts
  server/features/users/domain/user-management.ts
  server/features/users/domain/user-preferences.ts
  server/features/users/domain/user-profile.ts
  shared/types/domains/authentication/index.ts
  shared/types/domains/authentication/user-management-types.ts
  shared/types/domains/community/advocacy-types.ts
  shared/types/domains/community/index.ts
  shared/types/domains/community/notification-types.ts
  shared/types/domains/community/search-types.ts
  shared/types/domains/feature-flags/flag-types.ts
  shared/types/domains/feature-flags/index.ts
  shared/types/domains/monitoring/analytics-types.ts
  shared/types/domains/monitoring/index.ts
  shared/types/domains/safeguards/moderation.ts
  shared/types/index.ts
Due: type-check, unit-tests

chore: improve accessibility and code quality
  client/src/features/admin/feature-flags/ui/FlagAnalyticsDashboard.module.css
  client/src/features/admin/feature-flags/ui/FlagAnalyticsDashboard.tsx
  shared/types/domains/authentication/user-management-types.ts
Due: type-check, unit-tests

feat: implement API response standardization layer
  TASK_4_STRATEGIC_RECOMMENDATIONS.md
  client/src/features/admin/feature-flags/api/feature-flags-api.ts
  client/src/features/admin/product-analytics/api/monitoring-api.ts
  client/src/features/analysis/argument-intelligence/api/argument-intelligence-api.ts
  client/src/infrastructure/api/response-handler.ts
  server/features/notifications/domain/types.ts
  server/features/pretext-detection/domain/types.ts
  server/features/universal_access/domain/ussd.types.ts
  server/middleware/app-middleware.ts
  server/middleware/response-standardizer.middleware.ts
  shared/types/domains/accessibility/index.ts
  shared/types/domains/accessibility/ussd-types.ts
  shared/types/index.ts
Due: type-check, unit-tests

refactor: remove redundant TASK_4_STRATEGIC_RECOMMENDATIONS.md - consolidated into ADR-022
  TASK_4_STRATEGIC_RECOMMENDATIONS.md
Due: none

refactor: update feature pages for improved UX
  docs/API_CONTRACTS_GUIDE.md
  docs/API_CONTRACTS_QUICK_REF.md
  shared/types/api/contracts/bills.contracts.ts
  shared/types/api/contracts/feature-flags.contracts.ts
  shared/types/api/contracts/index.ts
  shared/types/api/contracts/monitoring-community.contracts.ts
  shared/types/api/contracts/validation.schemas.ts
Due: type-check, unit-tests

test: update test suite for new architecture - Group 2
  client/src/__tests__/SERVICE_ARCHITECTURE_IMPLEMENTATION_GUIDE.md
  client/src/__tests__/SERVICE_ARCHITECTURE_MODERNIZATION_PLAN.md
  client/src/__tests__/e2e/README.md
  client/src/__tests__/e2e/advocacy-coordination.spec.ts
  client/src/__tests__/e2e/argument-intelligence.spec.ts
  client/src/__tests__/e2e/constitutional-intelligence.spec.ts
  client/src/__tests__/e2e/feature-flags.spec.ts
  client/src/__tests__/e2e/fixtures.ts
  client/src/__tests__/e2e/global-setup.ts
  client/src/__tests__/e2e/global-teardown.ts
  client/src/__tests__/e2e/monitoring-dashboard.spec.ts
  client/src/__tests__/e2e/pretext-detection.spec.ts
  client/src/__tests__/e2e/recommendation-engine.spec.ts
  client/src/__tests__/fsd/form-builder.test.ts
  client/src/__tests__/service-architecture.test.ts
  client/src/__tests__/setup/a11y-setup.ts
  client/src/__tests__/strategic/analytics/telemetry.test.ts
  client/src/__tests__/strategic/api/critical-integration.test.tsx
  client/src/__tests__/strategic/authentication/auth-hook.test.tsx
  client/src/__tests__/strategic/error-handling/central-error-framework.test.ts
  client/src/__tests__/strategic/error-handling/cross-system-propagation.test.tsx
  client/src/__tests__/strategic/error-handling/error-boundary.test.tsx
  client/src/__tests__/strategic/error-handling/error-context-metadata.test.ts
  client/src/__tests__/strategic/error-handling/error-recovery-strategies.test.ts
  client/src/__tests__/strategic/integration/cross-system.test.ts
  client/src/__tests__/strategic/mobile/responsiveness.test.ts
  client/src/__tests__/strategic/navigation/accessibility-navigation.test.ts
  client/src/__tests__/strategic/performance/regression.test.ts
  client/src/__tests__/strategic/realtime/bill-tracking.test.ts
  client/src/__tests__/strategic/realtime/critical-features.test.ts
  client/src/__tests__/strategic/security/critical-protection.test.ts
  client/src/__tests__/strategic/security/rate-limiting.test.ts
  client/src/__tests__/strategic/state-management/global-state.test.ts
  client/src/__tests__/strategic/ui/components.test.ts
  client/src/__tests__/unit/utils/cn.test.ts
  client/src/__tests__/websocket-reconnection.property.test.ts
Due: type-check, unit-tests

docs: complete 6-phase documentation remediation
  client/src/lib/design-system/tokens/colors.ts
  docs/API_CONTRACTS_GUIDE.md
  docs/API_CONTRACTS_QUICK_REF.md
  docs/DCS/CONTRIBUTION_STANDARDS.md
  docs/DOCUMENTATION_OVERLAP_MATRIX.md
  docs/GETTING_STARTED.md
  docs/README.md
  docs/architecture/0-system-overview.md
  docs/architecture/1-project-structure.md
  docs/architecture/2-implementation-patterns.md
  docs/architecture/3-data-flow-pipelines.md
  docs/architecture/4-integration-patterns.md
  docs/architecture/README.md
  docs/archive/2026-03-completed/completed-plans/ERROR-FIXING-EXECUTION-PLAN.md
  docs/archive/2026-03-completed/completed-plans/IMMEDIATE-EXECUTION-PLAN.md
  docs/archive/2026-03-completed/completed-plans/INFRASTRUCTURE-CHANGES-REVIEW.md
  docs/archive/2026-03-completed/completed-plans/TYPE-CONSOLIDATION-AUDIT-AND-NEXT-STEPS.md
  docs/archive/2026-03-completed/completed-plans/TYPE-CONSOLIDATION-FINAL-REPORT.md
  docs/archive/2026-03-completed/completed-plans/TYPE-CONSOLIDATION-PROGRESS.md
  docs/archive/2026-03-completed/completed-plans/VALIDATION-AND-ERROR-FIXING-PLAN.md
  docs/archive/2026-03-completed/completed-plans/monitoring-fsd-restructure.md
  docs/archive/2026-03-completed/completed-plans/phase1-type-consolidation-tracker.md
  docs/archive/2026-03-completed/work-summary/ARCHITECTURAL_LESSONS_LEARNED.md
  docs/archive/2026-03-completed/work-summary/STRATEGIC_INSIGHTS.md
  docs/archive/2026-03-completed/work-summary/SYSTEMS_ENGINEERING_READINESS.md
  docs/archive/Chanuka_Funding_Pitch.md
  docs/archive/kba_pitch_deck.md
  docs/guides/API_CONTRACTS.md
  docs/plans/VALIDATION-AND-ERROR-FIXING-PLAN.md
  docs/project-structure.md
Due: type-check, unit-tests

docs: update claims to post-implementation verification
  DOCUMENTATION_REMEDIATION_RECOMMENDATIONS.md
Due: none

fix: client-server integration API issues
  client/src/infrastructure/api/contract-client.ts
  client/src/infrastructure/api/index.ts
Due: type-check, unit-tests

Path conditions:
  type-check: any of: \.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js$|
  .*/node_modules/|
  .*/dist/|
  .*/build/|
  .*\.d\.ts$
)$
  unit-tests: any of: \.(ts|js)$, but not: (?x)^(
  .*\.min\.js$|
  .*/node_modules/|
  .*/dist/|
  .*/build/|
  .*\.d\.ts$
)$
  architecture-check: any of: server/features/analytics/.*, but not: (?x)^(
  .*\.min\.js$|
  .*/node_modules/|
  .*/dist/|
  .*/build/|
  .*\.d\.ts$
)$
  coverage-check: any of: server/features/analytics/.*, but not: (?x)^(
  .*\.min\.js$|
  .*/node_modules/|
  .*/dist/|
  .*/build/|
  .*\.d\.ts$
)$
